[2020-03-05 13:25] owhite opened #6 "Please add C2M2 guidelines document"
The following is a link that contains a description of the purpose of the CFDE Data Asset Specification, the Data Asset Manifest, along with information about staffing required to support generation of same.

https://docs.google.com/document/d/1N2LqcfuOUVeqQn_NwkTPWYvZO7eEQCQsZa-zYaXPIic/edit

[2020-03-05 14:39] ACharbonneau commented on #6
@kcamloyd Can you add this to the Engagement page? The new pages I made while RTI was on hiatus don't have templates to add to

[2020-03-05 14:39] ACharbonneau opened #7 "Events page changes"
Please:

- [x] move current event info to some kind of 'past events' location
- [x] make this page have some sort of brief, forward looking events info
- [x] have the brief info link/open into more detailed information about a specific event
- [x] add the two upcoming Cross pollination events (May 13-14, 2020 and September 9-10, 2020)
- [x] make it so we can host registration for those two events

[2020-03-05 14:46] ACharbonneau opened #8 "Resources page"
Please:

- [ ] Add the December report https://drive.google.com/drive/u/1/folders/1d-tq_-2ifMW9784ycwLtHO7EiGYYZH0z
- [ ] update all three reports to include their figshare DOIs:
  - Dec: https://figshare.com/articles/2019-December_CFDE_AssessmentReport_pdf/11592936
  - Oct: https://figshare.com/articles/2019-October_CFDE_AssessmentReport_pdf/10261055
  - July: https://figshare.com/articles/2019-J

[2020-03-05 17:07] owhite commented on #6
Suggested location would be under  “Engagement”:

https://nih-cfde.org/engaging-common-fund-data-coordinating-centers/

[2020-03-05 19:14] ACharbonneau commented on #6
This one is ASAP. DCCs are using these guidelines for their proposals due 3/15.

(We also emailed it to them, so it's not the end of the world if it takes a couple days)

[2020-03-05 19:17] mrathbun-rti commented on #6
@kloydrti Due 3/5, 3/6 latest

[2020-03-05 19:20] mrathbun-rti commented on #7
@kloydrti due date is 3/9

[2020-03-05 19:20] mrathbun-rti commented on #8
@kloydrti due date is 3/9

[2020-03-06 21:05] kloydrti commented on #6
C2M2 guidelines are live at [C2M2 Guidelines](https://nih-cfde.org/engagement_page/c2m2-guidelines/) under the Engagement section. Both engagement pages are now sourced from markdown files in the Engagement folder of this repository.

[2020-03-06 21:16] #6 closed

[2020-03-09 17:05] kloydrti commented on #8
December report and figshare links are now live on the Resources page. The resources side menu is ordered alphabetically - let me know if you want it changed

[2020-03-09 20:12] kloydrti commented on #7
I've made some changes to the staging site that I can go through during our meeting tomorrow. Basically I can't find a free option to handle event registration directly in Wordpress, but if you're ok with continuing to use eventbrite, then we can easily embed the eventbrite registration into the site.

[2020-03-10 20:46] #8 closed

[2020-03-10 20:47] kloydrti commented on #7
Basic events are now published on the site. Can add Eventbrite / registration information when it becomes available.

[2020-03-10 20:47] #7 closed

[2020-03-23 17:30] ACharbonneau opened #14 "website- Use cases"
Just adding info/context/parameters for the use case website we discussed.

Current version is here: https://nih-cfde.github.io/usecases/

We are looking for a site format that will *automatically* interlink things, as currently, I hand wrote all those web links and that's terrible.

Right now, we are building a series of spreadsheets from the website, but *in an ideal world* we want the new site

[2020-03-27 16:40] ACharbonneau opened #10 "Current plan for 2020 updates"
Based on a meeting in March, the current plan for updates over the next ~2-3 months.

https://docs.google.com/document/d/1WGQq0b66cWSqSPMLneeixc5EiAe4vkc2t_OyKB4tPeo/edit

[2020-04-01 20:46] ACharbonneau commented on #10
When we move to having a private layer to the website (as is in the above outline), we should work to enable globus auth (which should work with wordpress) so that people don't require multiple logins

cc: @rpwagner

[2020-04-08 19:55] ACharbonneau opened #11 "Engagement Page date update"
@kcamloyd ASAP, please update the date on https://nih-cfde.org/engagement/ for the Kickoff meeting (mandatory) from May 13-14, 2020 to cancelled

[2020-04-08 20:04] kloydrti commented on #11
Updated the table on the engagement page and the event description. Could also just delete the event if you prefer.

[2020-04-08 20:10] #11 closed

[2020-04-10 16:00] ACharbonneau opened #12 "Add the code of conduct to website"
it's on all our repos, but i need a way to cite it publicly: https://github.com/nih-cfde/organization/blob/master/CODEOFCONDUCT.md

It can just be a link in the footer I think

[2020-04-10 16:13] kloydrti commented on #12
The code of conduct now has a page at [https://nih-cfde.org/code-of-conduct/](https://nih-cfde.org/code-of-conduct/) and there is a link to it in the footer.

[2020-04-10 16:13] #12 closed

[2020-04-14 16:53] ACharbonneau opened #13 "Use cases in the public site"
I think right now we have some old, static use cases in the site, but we need to update to using the new use case website.

Whats the best way to integrate that content? just a link? make the use case repo a sub-module to the main site and let it live in a tab?

[2020-04-22 16:59] ACharbonneau commented on #13
forgot to tag @kloydrti

[2020-04-27 20:10] alexwaldrop commented on #13
I'll be taking a closer look at this in the next 2-3 days. Keep you posted.

[2020-05-06 13:38] kloydrti opened #15 "Replace products with C2M2"
Unpublish existing products on website (md files will still be archived in this repo). Add C2M2 as the first of 3 new products - content sourced from [levels roadmap](https://github.com/nih-cfde/specifications-and-documentation/blob/master/draft-C2M2_specification_with_Levels/levelsroadmap.md). Also add documents that are linked from levels roadmap and change product page side menu to tiered navig

[2020-05-06 13:39] kloydrti commented on #15
levels roadmap, C2M2 glossary, level 0 specs, proposed level 1 specs, and accompanying model diagrams are now published to the website

[2020-05-06 13:39] #15 closed

[2020-05-07 17:44] RLC-DCPPC opened #16 "Modify public website"
Placeholder for the requirements for the public website update:

- [x] - home page [mockup](https://github.com/nih-cfde/public-website-content/files/4601522/Landing.Page.Basic.Wireframe.1.pdf)
- [x] - website [site map](https://docs.google.com/document/d/1WGQq0b66cWSqSPMLneeixc5EiAe4vkc2t_OyKB4tPeo/edit#bookmark=id.e5on0rsfnmm)
- [x] - potential color palettes
[CFDE-Palettes.pdf](https://github.co

[2020-05-07 17:48] RLC-DCPPC opened #17 "Explore private side capabilities of WordPress"
For the CFDE website, we want to include a private (in the authorization/authentication sense) side.

In order to determine if WordPress can meet our needs we need to: review the BioDataCatalyst website and determine, for each aspect, whether that capability can be accomplished with WordPress. Make sure to include evaluation of:

- [ ] shared calendar integration
- [ ] use of Globus Auth for authe

[2020-05-07 18:45] ACharbonneau commented on #14
@ctb is working on some code to autobuild the yaml we need

[2020-05-07 18:46] ACharbonneau commented on #13
I think for this we should remove the old use cases from the current website (from under resources) and figure out where the final site will live once @ctb has the autogeneration worked out and we know what it looks like

[2020-05-08 14:19] kloydrti commented on #13
I removed the 3 use cases from the resources page.

[2020-05-08 15:17] #13 closed

[2020-05-08 20:46] RLC-DCPPC commented on #16
[Landing Page Basic Wireframe (1).pdf](https://github.com/nih-cfde/public-website-content/files/4601522/Landing.Page.Basic.Wireframe.1.pdf)

[2020-05-12 15:09] kloydrti commented on #17
Each of those 3 things are possible with WordPress. The current WordPress site is already connected to GitHub to get the latest version of the content.

[2020-05-12 15:30] kloydrti commented on #17
There are kanban board plugins for wordpress, though all of the features might have an extra cost attached. I'm confused about why we'd be replicating that kind of feature in a private-side wordpress site when it's already available directly on github. Why not create a github project and have people use that?

[2020-05-12 15:51] ACharbonneau commented on #17
different levels of access

[2020-05-12 19:24] RLC-DCPPC commented on #17
On the topic of the kanban plugins, is it a bi-directional integration, in the sense that the two boards are synchronized and a change made in GH would be replicated in WP and vice-versa?

[2020-05-14 17:15] RLC-DCPPC commented on #17
Really want the private side to be an easy way to get to our stuff (in particular, GH). Some kind of address book person lookup, on-boarding site stuff, resources that we use all the time. Maybe once a month (deliverable status when done, e.g.). Weekly updates of %-complete using two-way interface.

DCCs will have access to CFDE Slack. But the easy interface could have a pointer to the CFDE Everyo

[2020-05-14 17:24] RLC-DCPPC commented on #17
BioDataCatalyst DOES have the two-way interface with GH

[2020-05-15 16:22] ACharbonneau opened #18 "Logo for the FAIR cookbook?"
Would you be able to create a logo for the FAIR cookbook? Currently they have this as a place holder: https://nih-cfde.github.io/the-fair-cookbook/images/logo/logo.png
[seen in page here](https://nih-cfde.github.io/the-fair-cookbook/intro.html)
but they want something better

[2020-05-19 19:52] RLC-DCPPC commented on #18
Katie will come up with options and we will review (next weekish).

[2020-05-26 18:24] kloydrti commented on #18
![Option 1](https://user-images.githubusercontent.com/48324951/82936195-37c9c880-9f5c-11ea-9a96-1bab9257306e.jpg)
![Option 2](https://user-images.githubusercontent.com/48324951/82936234-4617e480-9f5c-11ea-9fa2-adecba099b3d.jpg)
![Option 3](https://user-images.githubusercontent.com/48324951/82936261-4dd78900-9f5c-11ea-815c-11204033027c.jpg)

[2020-05-26 18:26] kloydrti commented on #18
Option 1:
![book-pages](https://user-images.githubusercontent.com/48324951/82936649-e837cc80-9f5c-11ea-8e6a-b047d4e4f5b0.jpg)

[2020-05-26 18:26] kloydrti commented on #18
Option 2:
![mixer](https://user-images.githubusercontent.com/48324951/82936669-f259cb00-9f5c-11ea-96c9-cd9eb772566f.jpg)

[2020-05-26 18:27] kloydrti commented on #18
Option 3:

![book-cover](https://user-images.githubusercontent.com/48324951/82936692-fa196f80-9f5c-11ea-8218-2098073ed89a.jpg)

[2020-05-26 18:28] kloydrti commented on #18
Elements from each can be mixed together (font from 1, icon from another, etc.)

[2020-05-26 18:42] ACharbonneau commented on #18
Forgot to tag originally! @proccaserra @AviMaayan @SusannaSansone

[2020-05-26 19:44] RLC-DCPPC commented on #16
Actions from 5/26 meeting:

Next steps
    - Bob/Anup to seek further review and provide guidance for the remaining pages
    - Katie to make Wordpress account for Bob
    - Katie to stub out the iFrame link concept

[2020-05-26 19:50] RLC-DCPPC opened #19 "Move domain to AWS Route 53"
We need to move the DNS record for the public website to Route 53 to simplify integration with the other system components.

@victor73, please work with @kloydrti to achieve this (and also correct my description, if needed).

[2020-05-26 20:05] RLC-DCPPC commented on #19
Hi @RebeccaBoyles , this is the issue of interest from today.

[2020-05-27 20:45] #19 closed

[2020-05-27 21:18] ACharbonneau opened #20 "Updated language about RFCs"
@RLC-DCPPC @kloydrti

Hi there! The NIH has changed the way the FOA works, so we need to update https://nih-cfde.org/engagement/ relatively quickly. They changed it a couple weeks ago, but just sent me the updated wording today.

I think we can just replace all of the text AND the table of dates in that tab with this:

[Guidance for Proposers_final.docx](https://github.com/nih-cfde/public-website-

[2020-05-28 13:53] RLC-DCPPC commented on #20
Okay. I'll work on this today. As I understand it, I can just update a file on the GH repo and then press the magic button (virtually, of course).

Sound about right, @kloydrti ?

[2020-05-28 14:34] kloydrti commented on #20
Yes, it should be the Engagement Landing page markdown document in the engagement folder.

[2020-05-28 17:43] RLC-DCPPC commented on #20
Well, I'll be darned! I believe this is complete.

@ACharbonneau, please review and let me know if it looks good.

[2020-05-28 17:53] ACharbonneau commented on #20
LGTM thanks!

[2020-05-28 17:53] #20 closed

[2020-05-29 17:16] proccaserra commented on #18
@ACharbonneau @kloydrti thx!
my preference would go:
 1. option 1
2. option 3

[2020-05-29 18:28] AviMaayan commented on #18
@kloydrti @ACharbonneau these look really nice!

I like them all but my ranking is:
1. option 2
2. option 3
3. option 1

[2020-06-03 16:18] proccaserra commented on #18
@kloydrti Is there a png version of logo 1 ? I was trying a color (#3f51b5) but so easy with the jpg version. thx!

[2020-06-03 17:49] kloydrti commented on #18
@proccaserra At this point we're only evaluating the concept design. I will add all of the colors after we decide which design we want to use.

[2020-06-03 17:57] ACharbonneau opened #21 "colors for website"
Hey @kloydrti I know you were exploring the idea of changing the color palette of the marketing website, and I was just curious whether we had a new one yet.

[2020-06-03 19:03] kloydrti commented on #21
I'm working on a short style guide document, will link here when it's done (sometime tomorrow)

[2020-06-04 16:22] kloydrti commented on #21
[Here is the document with colors and fonts](https://drive.google.com/file/d/1BhAbWB4cu6XVHi5Co0a9UnCg4b3mSF0J/view?usp=sharing). New logo files have also been uploaded to the CFDE Everyone > CFDE Logos and Templates drive folder (in the print and web folders).

[2020-06-04 16:23] #21 closed

[2020-06-04 16:51] ACharbonneau commented on #21
cc: @RLC-DCPPC

[2020-06-04 16:54] owhite commented on #18
personally, I have a strong preference for #1, and I feel like #2 is going to require that users do kind of a "double take", as in "what's that?"

[2020-06-04 17:12] RLC-DCPPC commented on #18
Great. Thanks for that quick consensus!

@kloydrti, please work with @proccaserra to have option 1 installed in the Cookbook

[2020-06-04 17:27] proccaserra commented on #18
@RLC-DCPPC @kloydrti whenever you have a moment, please point me to the png version of option so I can swap it with the current one. many thx!

[2020-06-05 15:49] RLC-DCPPC commented on #16
Hi @kloydrti .

We owe you 4 URLS for the new public marketing website:

- [ ] Landing page for CFDE UI (we believe this will be https://app.nih-cfde.org/, but will confirm)
- [ ] readthdocs documentation (Amanda is still working on this one)
- [x] training page: that one is [here](https://cfde-training.readthedocs.io)
- [ ] A graphic to replace the placeholder map you currently have

Also, we dec

[2020-06-05 15:56] ACharbonneau commented on #16
Will the marketing site also have the new style by the demo? I'm not sure whether I'm supposed to re-skin mine now, or wait.

[2020-06-05 16:54] RLC-DCPPC commented on #16
I think we'd like it to have the new style. @kloydrti, do you think we can accomplish that? It'd need to be this week.

[2020-06-05 17:04] kloydrti commented on #16
So you want me to go ahead and change the colors on the live nih-cfde.org site? But not the content yet?

[2020-06-05 20:45] RLC-DCPPC commented on #16
Oops, I think it can wait a bit longer, since you're still here next week. We'll discuss on Tuesday.

But, yes, @ACharbonneau , I think you can reskin your readthedocs site when you have time ;-) I'm still waiting to get my hands on the credit card, but we should be able to get our subscription next week sometime.

[2020-06-05 22:39] ACharbonneau commented on #16
Use case library is moved and reskinned: https://cfde-usecases.readthedocs-hosted.com/en/latest/ please update link accordingly.

[2020-06-05 23:01] ACharbonneau commented on #16
Is the logo changing color or staying as is?

[2020-06-07 21:19] RLC-DCPPC commented on #16
We like the green and blue logo to match the new buttons.

[2020-06-08 13:48] ACharbonneau commented on #16
documentation site: https://cfde-published-documentation.readthedocs-hosted.com/en/latest/

[2020-06-08 13:52] kloydrti commented on #16
@ACharbonneau the new logo files are in the CFDE Everyone drive under [CFDE Logos and Templates](https://drive.google.com/drive/folders/14dOaf7-G4k7rCw5mL2Q5jdRWXrO0Y5i-) (web-sized logos are in the web folder)

[2020-06-08 14:02] kloydrti commented on #16
The buttons we currently have are:
1. Data Portal
2. C2M2
3. Use Case Library
4. Training
5. Tools

Should C2M2 be changed to Documentation with the documentation site link?

[2020-06-08 14:08] ACharbonneau commented on #16
I believe that C2M2 should read "Technical Documentation" and link to the documentation site. Tools will lead to [the internal pages](https://www.nih-cfde.org/products/) with more public friendly documentation, currently all that's there is the C2M2, which I have to update.

[2020-06-08 17:44] kloydrti commented on #18
The logo files are now in the CFDE Everyone Google Drive under CFDE Logos and Templates > [FAIR Cookbook Logos](https://drive.google.com/drive/folders/1GvCjWnEZ4SOQ5pHCXvZ87Up76Cm-YxDO).
@proccaserra

[2020-06-09 14:21] proccaserra commented on #18
@kloydrti thx for this :) @ACharbonneau @AviMaayan now in `master` and `dev`.
 changed to color to match CFDE hue (#3f51b5).

[2020-06-12 14:39] victor73 commented on #16
@RLC-DCPPC  Just asked for access to pull the favicon. Or, perhaps someone could just an accessible URL to it here.

[2020-06-12 14:45] kloydrti commented on #16
The logo and icons are available in the [Google Drive logos folder](https://drive.google.com/drive/folders/1XytxvJHTOVpfQ0dFhowFFHPcYFHxNEfm).

[2020-06-12 14:49] victor73 commented on #16
Thanks @kloydrti, just waiting for whoever controls that to grant me access...

[2020-06-12 14:50] kloydrti commented on #16
@victor73  Oh, you meant access to the drive, not access to the staging site. My mistake.

[2020-06-12 14:51] kloydrti commented on #16
![cropped-CFDE_Icon-web-32x32](https://user-images.githubusercontent.com/48324951/84515541-a0be7980-ac9a-11ea-934d-406b09fecf5f.png)
![cropped-CFDE_Icon-web-192x192](https://user-images.githubusercontent.com/48324951/84515542-a1571000-ac9a-11ea-9e0d-6f515ebe16fb.png)
@victor73  Maybe this will work?

[2020-06-12 22:38] victor73 commented on #16
Okay, the more greenish version is now the favicon on app.nih-cfde.org.

[2020-06-13 14:20] ACharbonneau commented on #16
@victor73  You have access to the drive. It's just the CFDE google space. Likely you're trying to log in with an account different from the one you gave us for onboarding

[2020-06-16 19:44] RLC-DCPPC commented on #16
Hi @kloydrti . Please change out the static image on the home page with this one:

![export (1)](https://user-images.githubusercontent.com/40363469/84820878-426dff80-afe8-11ea-9b9c-ccd7c11974f2.png)

[2020-06-23 14:37] ACharbonneau opened #22 "Website tweaks before release"
There's a few things that need to be fixed on the demo version of the site before we release it:

- [x]  The Tools button doesn't link to anywhere
- [x] 'Tools' and 'Products' are both about the same content, but have different names. I think it should be 'Tools' for both
- [x] The whole right sidebar (Data Portal, Tech Doc, Tools, etc buttons) was only supposed to be on the *front* page of the si

[2020-06-23 19:27] RLC-DCPPC commented on #22
Maybe an event could be "june 22, nih-cfde.org website relaunched"

[2020-06-24 20:24] kloydrti commented on #22
Those changes have been made. I created markdown files in this repo for the news and publications so they can be edited easily. I also removed the data portal button for now and made "data portal coming in september" into a news item.

[2020-06-24 21:41] ACharbonneau commented on #22
Cool :)

Just talked to Owen and have a couple more tweaks:

- For the front page text where I had you put "Indexing the CF", could we change it to "Common Fund Data Ecosystem Web Portal"? That might be too long and terrible. If it clearly is maybe just "CFDE Web Portal". Owen and I are still going back and forth on things, but so far I think we like that the most of our current ideas.

- Could we

[2020-06-25 16:42] kloydrti commented on #22
I made those 2 changes. The longer home page title looks fine, it just wraps to two lines on mobile devices.

[2020-06-25 16:48] RLC-DCPPC commented on #22
Add December Report under Reports

rewritten C2M2 and FAIR cookbook writeups to put unter Tools

remove C2M2 Guidelines link and the text it points to on the Engagement page. Replace with "Apply for Common Fund funding" with link to the FOA (https://commonfund.nih.gov/sites/default/files/Engagement_Opportunity_Announcement_1-29-20_FINAL_508.pdf
)

[2020-06-25 20:35] kloydrti commented on #22
Everything is done except the C2M2 and FAIR cookbook writeups

[2020-06-26 13:48] RLC-DCPPC commented on #22
Thanks, @kloydrti. This looks good.

So, please update nih-cfde.org with this content sometime today.

[2020-06-26 15:06] kloydrti commented on #22
All the changes should be moved over. Let me know if you see something I missed.

[2020-06-26 15:23] RLC-DCPPC commented on #22
This looks good to me, @kloydrti. We are live!

One small item is that once you click over to the technical documentation or the use case library, i don't see a way back. The "home" icons on those pages leave you on those sites. Since they open in new tabs, that is not a huge problem. Maybe links back to the public site could be added to those sites? What do you think, @ACharbonneau ?

[2020-06-26 15:24] ACharbonneau commented on #22
I can add links back

[2020-06-30 17:09] kloydrti commented on #22
@ACharbonneau The FAIR cookbook page is now live under Tools

[2020-07-07 14:55] RLC-DCPPC commented on #17
[Latest requirements.](https://docs.google.com/document/d/1rmJvgRcNVj2_PP8el26BbQiIM9EQH3AAkJ3D38aMqBU/edit)

[2020-07-07 19:59] RLC-DCPPC commented on #17
7/7/20

- [ ] - Katie will explore Globus for Auth (maybe use Google account as username for Globus?)
- [ ] - Katie will start implementing the straightforward aspects.

[2020-07-13 16:04] kloydrti commented on #17
Some notes about Globus -
I was able to create a Globus ID with my existing Google account. The Globus login screen has a "Sign in with Google" button that will create a new Globus account with your Google email.

There is also an option to create a GlobusID account without linking Google or any other organization, but this creates a separate account that you would have to remember log in informat

[2020-07-13 17:47] RLC-DCPPC commented on #17
Hi @rpwagner , I'd like you to be aware of the the preceding comment from Katie, since you are the person on the team I most associate with Globus, in case you have any relevant knowledge to share, but mainly FYI.

[2020-07-13 17:51] rpwagner commented on #17
(Adding @lliming)
Thanks for pointing this out. @kloydrti, Globus has the concept of account linking, so that if users want to create a GlobusID, they can, although that's not necessary in most cases. And if they do, they can still log in with one of their other IDs, like the Google one you mention. Although the preferred mechanism is for users to create their Globus accounts using one of their in

[2020-07-15 13:56] RLC-DCPPC commented on #17
7/14/20

Login through Google
Groups.io calendar in read-only mode

[2020-08-11 19:30] RLC-DCPPC commented on #17
8/11/20

New reqs in purple [here](https://docs.google.com/document/d/1IYuN5C3YYnhMciaPCrpf-0S6cDeHr5Q1JYGtmjAdUyo/edit#bookmark=id.tzcrvt7rw6cb).

[2020-08-11 19:34] RLC-DCPPC commented on #17
do we want to approve comments or let them fly.

[2020-08-11 19:49] ACharbonneau commented on #17
do you mean in the RFCs?

[2020-08-11 19:57] kloydrti commented on #17
Yes, the RFCs will have comments allowed. They can all be automatically approved, automatically approved for users with previously approved comments, or all held for review by a site manager regardless of author.

[2020-08-11 20:27] ACharbonneau commented on #17
The comments should all appear as comments on the google doc. They should only be closed/accepted/incorporated into the doc by a human.

[2020-09-08 19:21] RLC-DCPPC commented on #17
Planning for a demo this week 9/10 at 12:30.

[2020-09-10 17:00] RLC-DCPPC commented on #17
9/10:  Demo notes (@ACharbonneau, @owhite, @amahurkar , @kloydrti , please review and repair as you will, Italics indicate "things to do" :-))

- "accepted" (1st class) RFCs are available to the hoi-poloi; logged in users can see more (open) of them
- _"planning statements" (like RFC's) - approved to public; add working versions to private side_
-- _put under project management_
- accounts with pr

[2020-09-10 20:29] ACharbonneau commented on #17
I've thought about it some more, and without a proper plugin, I think we should bail on the github integration for now...links will only work for people who are fully onboarded, so maybe we will have a github/zenhub link somewhere in the PM section, but I don't think it deserves its own page or any additional time at the moment

[2020-09-22 19:12] RLC-DCPPC commented on #17
9/22

So, we have the Wordpress rehosted to AWS in dev. www-dev.nih-cfde.org.

@victor73, can we get Wordpress in staging environment soon, so Katie can get back to updating in dev? I suppose prod can wait a little longer.  Do we already know what the landing page URL will be so Katie can plan what to link to from the public (AKA brochure, AKA marketing) site?

[2020-09-22 19:59] ACharbonneau commented on #17
Can you tag me with the new URL as well? I'll need to update it on the training/usecase/etc sites

[2020-10-20 20:06] RLC-DCPPC opened #25 "Put the link to the portal on the webpage"
app.nih-cfde.org

we need this in Prod for 10/31.

[2020-10-20 20:14] #22 closed

[2020-10-20 20:18] ACharbonneau opened #26 "Color scheme/Logo"
The new wireframes changed the website colors slightly, so now the logo sort of melts into the background but is also somewhat the wrong color.

Secondarily, the websites are now using different color schemes, but they should all agree.

I'm not sure exactly how to fix the logo issue. wireframe image so you can see the problem:

[CFDE Wireframes DRAFT - 2 color treatments.pdf](https://github.com/n

[2020-10-20 20:45] abhijna opened #27 "Private layer webpage content"
Hi @kloydrti and @ACharbonneau ,

Here's the content for the two private pages on the public website.

# Welcome page

Welcome to the Common Fund Data Ecosystem (CFDE) Coordination Center (CC)!

The CFDE-CC is an NIH effort to identify and solve issues that inhibit data access and reuse across NIH Common Fund programs. The Ecosystem is the Coordination Center plus all of the Common Fund Programs w

[2020-10-20 20:51] kloydrti commented on #26
There is a [white version of the logo](https://drive.google.com/file/d/1zGTP-YZlPILYxwSscyu6fkZkHghwrpZ0/view?usp=sharing) or a [color version with a white outline](https://drive.google.com/file/d/16QV9Wnxk9p-kXEoD6iBlA32ALx8L8B_D/view?usp=sharing). Either would stand out against the blue background. The blue should be #0355ab - other colors can be found in the [style guide](https://drive.google.c

[2020-10-20 21:50] ACharbonneau commented on #26
Sorry, I missed an upload doc and made it confusing.

@kloydrti we gave the people who made wireframes for the portal your style guide. They came back with slightly different color suggestions. What I'm trying to do is figure out which we're going with and how to go about making everything match/look good.

the style guide they suggested is:
[CFDE Wireframes DRAFT - New Colors and Spacing.pdf](htt

[2020-10-22 20:30] ACharbonneau commented on #25
We may be not doing this for 10/31. Not sure we want the link that public yet

[2020-10-23 18:40] kloydrti commented on #27
This content is now in 2 files (cfde-member-welcome.md and dcc-orientation.md) in this repo. Any updates to those files will automatically be pushed to the site.

Where it says "insert email here" for the dcc orientation I made a guess and used autohelp+int+851+6545985337373134556@CFDE.groups.io.

[2020-10-23 18:43] kloydrti commented on #27
Am I right in remembering that people who are onboarded only to the website (the new "subscriber" role) should not see the dcc onboarding page?

[2020-10-23 18:43] ACharbonneau commented on #27
correct :)

[2020-10-29 17:23] abhijna opened #28 "Helpdesk info"
Hi @kloydrti @ACharbonneau

We're starting to set up a (Jira) helpdesk to route questions to. Here's the widget code for the public website:

[code]

We're thinking of including it in the header of the training website. But the placement is not final yet.

[2021-01-28 22:55] marisalim opened #29 "New CFDE resource pgs for Engagement section"
Hi @kloydrti and @ACharbonneau

I made new pages for the [Engagement](https://www.nih-cfde.org/engagement/) section of the public website. We'd like to do a bit of reorganizing so that the layout matches the [Tools](https://www.nih-cfde.org/tools/) page, where there's a landing page with "Read more" links to short blurbs about the resource.

I made markdown files on this branch: https://github.com

[2021-02-04 22:21] marisalim commented on #14
Hi - I noticed the "Use Case Library" button on the https://www.nih-cfde.org/ home page goes to the old UCL website. The new website is https://use-cases.nih-cfde.org/.

[2021-02-10 18:36] marisalim commented on #29
@kloydrti If possible, we'd like these resources to be available to share with NIH R03 awardees by next Tuesday, Feb 16th. Please let me know if you'll need more time!

[2021-02-10 18:39] kloydrti commented on #29
@marisalim I can get it done by then. I'll let you know when everything is up.

[2021-02-10 18:48] marisalim commented on #29
@kloydrti awesome, thank you!

[2021-02-15 20:10] kloydrti commented on #29
I merged all of the content onto the Master branch. If you edit the content on a separate branch in the future, it must be merged into Master before the changes will show up on the site.
All four pages have been published. I made up the icons, so if you want any changes to those just let me know.

[2021-02-15 20:57] ACharbonneau commented on #29
Is it on production? All I see at engagement is the title

[2021-02-15 22:02] kloydrti commented on #29
Whoops, I forgot to push it to production. It's all there now!

[2021-02-15 22:10] marisalim commented on #29
It looks great, thanks @kloydrti!

[2021-03-04 17:36] ACharbonneau opened #31 "Get the site on our matamo account"
We already have a [matamo](https://matomo.org/) account. Jeremy owns it. Could you two see if you can get it set up on this site as well. It would be much nicer for my reports if I could pull all the CFDE site analytics at once, in one format

[2021-03-04 17:46] kloydrti commented on #31
I installed the Matomo plugin to the wordpress site.
@jeremywalter if you log in to nih-cfde.org/wp-admin there is an option in the side menu for Matomo Analytics. There you can access the settings and set up the tracking code.

[2021-03-04 18:01] kloydrti commented on #31
@ACharbonneau you should have gotten an email about new permissions to view the google analytics account.

[2021-03-04 18:05] ACharbonneau commented on #31
thank you!

[2021-03-05 17:40] jeremywalter commented on #31
I am working on figuring this out, but this is my first trip into analytics. It looks like the plug-in did everything, but the tracking isn't working. Initially I found that the SiteId was wrong in the script, but fixing it didn't seem to have any effect. Will continue digging at this (and some other matomo issues) today.

[2021-03-05 19:35] jeremywalter commented on #31
I installed a different plugin that was recommended and configured it to talk to the matomo site. So I have deactivated the other matomo plugin. The new set-up seems to be working, but I'll wait a bit before I close this out.

[2021-03-09 17:03] marisalim commented on #29
these pages were added!

[2021-03-09 17:03] #29 closed

[2021-03-09 17:30] ACharbonneau opened #33 "Push new plots and whatnot to production in tandem with March release"
This should be in coordination with @karlcz and @mikedarcy pushing the new data and website updates for the March Release.

[2021-03-09 19:06] kloydrti commented on #31
It looks like the new matomo plugin is getting data now, so I removed the Google Analytics plugin. Historical data from Analytics is still available if you need it.

[2021-03-15 17:05] marisalim opened #34 "booking allows repeat registrations"
Hi @kloydrti - The booking system on the website is allowing the same person (same name, same email) to register more than once. We just noticed it on the page for our intro to conda workshop this week. We'd like for the booking system to tell people they are already registered. It'd also be very helpful if the system sent out auto-confirmation emails to registrants. Thanks!

[2021-03-23 20:45] marisalim commented on #34
@kloydrti is it possible for the booking system to also send notifications to us (i.e., instructors) when someone registers for our workshop events?

If that's difficult to customize for individual events, an alternative would be to automatically cc our training helpdesk email (training@cfde.atlassian.net), which we get notifications for, when the auto-confirmation email is sent to people who regi

[2021-03-23 20:52] marisalim opened #35 "waitlist for (workshop) events"
Hi @kloydrti - another booking system request! Is there a waitlist function?

Right now, once the registration max is hit, the registration closes with a message that the event is fully booked. Since some people cancel or don't show up, we'd like a waitlist + message we could customize for people on the waitlist.

[2021-03-24 16:26] ACharbonneau opened #36 "Make URL of member pages not their email"
The URL of my member page is https://www.nih-cfde.org/members/acharucdavis-edu/

so literally just my email with the punctuation taken out. Is it possible to change what field gets used for the URL generation? I'm happy to add a new step to onboarding to make an ID field that isn't an email if needed.

[2021-03-25 23:40] marisalim commented on #36
i think this got fixed - the url now looks like https://www.nih-cfde.org/members/396c5b5ad1bbcb8c/

[2021-03-25 23:56] s-canchi opened #37 "Ability to create workshop template and view past workshops"
Currently in the Edit Events tab, a user with permissions only sees the upcoming workshops. It would be beneficial to be able to view the past workshops.
On the same note it would be useful to have the ability to create a template from current or past workshop and replicate that with the ability to modify minor details before posting.
@kloydrti - Can you help with the implementation ?

[2021-03-26 01:28] s-canchi opened #38 "Multi day events should show on all days in calendar"
The CFDE program meeting event page suggests it is on two consecutive days: https://www.nih-cfde.org/events/cfde-program-meeting/

But in the calendar for May, the event only shows up on the first date (10th) but not on 11th.
Ideal behavior: any multi day event should show up on all dates on the calendar with the same title automatically.

@kloydrti - help ?

[2021-03-26 15:50] ACharbonneau opened #39 "Recurring events- book for all of them at once"
Can we add a button/feature so you can subscribe to all the events in a series too? Right now you can only book yourself for each working group meeting one at a time. It would additionally be good if I could get the ical download to match, so if I'm signed up for a whole series, i get the whole series

[2021-03-26 18:27] s-canchi opened #40 "Add CFDE internal training resources to the public site for members"
Hi @kloydrti - We are reorganizing the [CFDE training website ](https://training.nih-cfde.org/en/latest/) and wanted to move most of the contents in the CFDE Internal Training tab to the public website.

I moved the necessary files and images to a folder within resources folder on the repo and currently in this branch: https://github.com/nih-cfde/public-website-content/tree/scanchi-member-resource

[2021-03-26 18:34] kloydrti commented on #40
I will need to build the pages first. I can get that done by next Tuesday.

[2021-03-30 14:38] kloydrti commented on #40
@s-canchi is this content supposed to be available to everyone or just people who have been onboarded to CFDE?

[2021-03-30 14:47] ACharbonneau commented on #40
It doesn't have to be private. If it fits in the public part it's fine to be there

[2021-03-30 17:43] ACharbonneau commented on #35
Possible solution: When an event is fully booked, the text changes to say something like 'fully booked- email support@cfde.atlassian.net to be put on the waitlist'

[2021-03-30 19:47] kloydrti commented on #35
The "Fully booked" message has been changed.

[2021-03-30 19:48] kloydrti commented on #38
I just had to change a setting. Multi-day events should show up on all days now.

[2021-03-30 19:48] #38 closed

[2021-03-30 19:49] #36 closed

[2021-03-31 00:52] jeremywalter opened #43 "time zones in the calendar"
events on the calendar show up defaulted to the time zone they were entered in as... I believe this will probably cause confusion in the long-run and it might be worth addressing so, either by engineering the website to reflect time zones for the user (best case), or choosing a time zone for the website (PST or EST)...

[2021-03-31 01:01] jeremywalter opened #44 "website event search broken"
when I search events in the website it just gives me the CP recurring meetings and seems to ignore whatever I put in the search bar... I could not find training, intro, or conda by entering them in the search bar

https://www.nih-cfde.org/edit-events/?em_search=training

[2021-03-31 22:23] ACharbonneau commented on #33
@kcamloyd This can go live asap

[2021-03-31 22:23] ACharbonneau commented on #26
@kcamloyd This can go live asap

[2021-03-31 22:23] ACharbonneau commented on #25
@kcamloyd This can go live asap

[2021-03-31 22:37] marisalim commented on #14
@kloydrti the "Use Case Library" button on the https://www.nih-cfde.org/ home page goes to the old UCL website (now broken link). The new website URL is: https://use-cases.nih-cfde.org/

[2021-03-31 23:50] ACharbonneau commented on #14
i updated it

[2021-04-01 13:45] kloydrti commented on #25
This is live.

[2021-04-01 13:45] #25 closed

[2021-04-01 13:45] kloydrti commented on #26
This is live.

[2021-04-01 13:45] #26 closed

[2021-04-01 13:45] kloydrti commented on #33
This is live.

[2021-04-01 13:45] #33 closed

[2021-04-01 13:48] #14 closed

[2021-04-01 17:18] kloydrti commented on #40
The new content is there. The screencasts don't work, but we could add a regular video file or use the embed code if the screencasts are hosted on asciinema.org.

[2021-04-01 17:37] s-canchi commented on #40
For our website, I had to integrate the asciinema player to use the local screencast files. Is that possible in Wordpress ? Details on javascript here: https://asciinema.org/docs/embedding

If not, I can plan to upload them to asciinema. org and provide the embed code.

[2021-04-01 18:57] kloydrti commented on #40
The javascript tags on that site reference the file source on asciinema.org. The embed doesn't work with the .cast files that were uploaded to this repo.

[2021-04-01 20:40] s-canchi commented on #40
Right. But it also possible to include the asciinema player locally into the site: https://blog.asciinema.org/post/html5-element/

Here is the file (asciinema-player.js) in our training repo: https://github.com/nih-cfde/training-and-engagement/tree/stable/docs/javascripts

And this is the syntax we use for playing local files:
[code]

I am wondering if this can be replicated in Wordpress ?

[2021-04-01 20:53] kloydrti commented on #40
I tried that as well as the wordpress plugins available. I got the player to appear but it wouldn't load the content. I think it's a problem with the wordpress file structure that can't be worked around.

[2021-04-01 21:36] s-canchi commented on #40
Thank you for trying! I will plan to upload these the asciinema website and post the embed codes in this issue.

[2021-04-05 23:22] marisalim opened #45 "event calendar tags?"
Is there a way to add tags to i.e., all workshop or working group events so they're easier to find quickly in the "Edit Events" page? When I use the "Search Events" search box, it doesn't seem to be filtering by words in event titles (i.e., searching for "demo" brings up a lot of events that don't have "demo" in their title).

[2021-04-06 17:27] s-canchi commented on #40
Providing embedding code for all screencasts:

- file screencast: <script id="asciicast-eiT7iUpqhY7mikZoOWiTZuwyx" src="https://asciinema.org/a/eiT7iUpqhY7mikZoOWiTZuwyx.js" async speed="2" theme="tango" font-size="medium" cols="60" rows="15" poster="data:text/plain,\x1b[1;37mTerminal Vidlet for file"></script>
- mimetype screencast: <script id="asciicast-rK9TgGIWalHEXmGxK9OC4F1ni" src="https://as

[2021-04-06 17:39] josesanchez1815 opened #46 "Issues with Calendar Reminders on Events Page"
We are running into issues downloading (.ics files) on our Intro to Conda registration page. This issues seems to only occur for Windows OS. We need some help identifying the issue.  Another interesting note is the URL includes ical in the name.

https://www.nih-cfde.org/events/intro-to-conda/
![image](https://user-images.githubusercontent.com/62918474/113753693-3e1fe980-96c3-11eb-9aa9-cb9a2f6a442

[2021-04-06 17:39] josesanchez1815 commented on #46
This is what we see (Windows Users) when we click on the link.
https://www.nih-cfde.org/events/intro-to-conda/ical/

[2021-04-06 18:59] kloydrti commented on #40
Those work great! They're all published.

[2021-04-06 18:59] #40 closed

[2021-04-06 22:24] s-canchi commented on #39
This is a needed feature for workshops as well. Currently, I can set multiday workshops using the recurring event option. Setting the registration only shows up on the first day. However, when one does register, the confirmation email shows registration for only the first day. So currently we have set up such that for multiday workshops, a user has to register for both days.

Ideal behavior: For m

[2021-04-07 14:25] ACharbonneau commented on #46
Hey @kloydrti Could you make this a priority to fix please? I'm getting users having problems with both the .ics file on the website and the one that is in the confirmation email.

[2021-04-07 14:49] kloydrti commented on #46
The text that @josesanchez1815 posted is the contents of the .ics file. On my computer, in any browser, clicking the link automatically downloads that text as the .ics file. The issue is caused by incognito mode. All browsers disable the automatic download in incognito/private windows, so it will only show you the contents of the file. I cannot override this - it is set in the browser. The fix is

[2021-04-07 20:24] josesanchez1815 commented on #46
Ok. It seems to work as long as I do follow Katy's instructions and type .ics at the end of the file name.

[2021-04-07 20:52] ACharbonneau commented on #46
Hey @kloydrti I think Jose was in incognito mode, but the people I heard from on helpdesk were not. @josesanchez1815 can you just download *without* right clicking from a normal browser window?

[2021-04-07 21:54] josesanchez1815 commented on #46
I cannot

[2021-04-08 16:47] josesanchez1815 commented on #46
Hello! Just wanted to follow up on some things in regards to this issue.
So it appears that what prevents my windows computer from downloading the (.ics) file is that Windows cannot parse the ics when there are non-standard punctuation in the file.

@ACharbonneau and I tested the event  [Pop Up: CFDE Portal Demo](https://www.nih-cfde.org/events/cfde-portal-demo/). We tested the (.ics) link and it

[2021-04-08 20:38] kloydrti commented on #44
The search bar now returns results if the search term is in the title or description of the event.

[2021-04-08 20:38] #44 closed

[2021-04-08 20:47] kloydrti commented on #45
The search feature is fixed now. There are no tag or categories capabilities, but the search will now match any word in the title or description.

[2021-04-08 20:47] #45 closed

[2021-04-08 20:50] #16 closed

[2021-04-08 20:51] #27 closed

[2021-04-08 23:15] s-canchi opened #47 "Widget to embed events calendar in training website: Asking for help"
We currently list individual workshops (past only) on our [training website home page](https://training.nih-cfde.org/en/latest/). But since the content on the website is governed by release cycles, we cannot automate the workshop list to be current. What we would like to have is the [events calendar](https://www.nih-cfde.org/events/) being embded as a widget in the home page to populate with the l

[2021-04-09 16:10] ACharbonneau commented on #46
We tested this even more, and found that some of them with colons actually do work, and Jose couldn't consistently get any link to not work...I'm not sure what is happening, but we are closing this and will make a new issue if we can get repeatable problems in the future

[2021-04-09 16:10] #46 closed

[2021-04-09 17:54] marisalim commented on #35
Hi @kloydrti - the message helps a bit (for the time being, can you change it to `email training@cfde.atlassian.net`), but we still have to keep track of the waitlist manually.

Is it possible to have a waitlist on the website? I.e., if someone cancels, we can delete their booking and move someone from the waitlist automatically to an event spot. This would help us with managing the waitlist more

[2021-04-09 19:25] ACharbonneau opened #48 "Change title"
Hey @kloydrti quick change. Could you update this to say "Common Fund Data Ecosystem Home" and not "Common Fund Data Ecosystem Web Portal"

Users are finding it really confusing

![image](https://user-images.githubusercontent.com/1719360/114230604-5a33bd00-9947-11eb-98fa-6beb9d7924ab.png)

[2021-04-09 20:05] kloydrti commented on #48
Done.

[2021-04-09 20:05] #48 closed

[2021-04-09 20:09] kloydrti commented on #35
The email has been changed. There is no waitlist feature available for the events plugin.

[2021-04-09 20:15] marisalim commented on #35
Ah, that's too bad :( thanks for changing the email @kloydrti!

[2021-04-09 20:15] #35 closed

[2021-04-12 19:09] abhijna commented on #43
Just to clarify Jeremy's point:

Each event has a time zone specified. See example below
<img width="888" alt="Screen Shot 2021-04-12 at 11 54 39 AM" src="https://user-images.githubusercontent.com/6900555/114446928-9ef96700-9b86-11eb-9582-8bb36bd4a7e5.png">

Some are displayed in EDT and some are in PDT (based on who made it and which time zone they were in).
It is fully functional as is. However,

[2021-04-13 17:54] ACharbonneau opened #49 "New idea: Get a new registration/calendaring system?"
- A public calendar that users with no login can see and use to sign up for things
- A semi-public option that lets us have some events only appear to members
- The 'personal' calendar that lists all the things you have signed up for
- When you sign up, you should get a confirmation email
- Support for zoom locations
- confirmation email and calendar lets user get an .ics file
- Ability for multip

[2021-04-13 18:28] ACharbonneau commented on #49
For our next meeting:

- @abhijna will send out a poll to find a time for the week of April 26th
- Once she has a time, she'll give it to @RLC-DCPPC and he'll make the meeting
- For that meeting, Katie will have:
    - checked to see whether it is better to try to add all the requested features from the other issues already described in this repo or to just find a new plugin that is closer to what

[2021-04-13 21:47] abhijna commented on #49
Hello, please fill out this [doodle poll](https://doodle.com/poll/9ke2kx8knrau8bz3?utm_source=poll&utm_medium=link)
@ACharbonneau @kcamloyd and @RLC-DCPPC

[2021-04-22 19:49] ACharbonneau commented on #49
We're going to put off meeting for a bit. Katie thinks that the pro version of the plugin we have should work: http://wp-events-plugin.com/

So for the near future, Bob will figure out the paying for it bit, Abhijna will look at the plugin so we have clear ideas of what features we want and how we'd like them configured. And we'll all meet up about it later :)

[2021-04-23 18:55] s-canchi commented on #47
Can you also point out to what calendar widget/plugin is being used in the public site ?

[2021-04-23 19:17] ACharbonneau commented on #47
@s-canchi Please check issue #49

[2021-05-10 15:41] abradyIGS opened #50 "update https://www.nih-cfde.org/product/cfde-c2m2/"
language needs to be brought current with https://docs.nih-cfde.org/en/latest/c2m2/draft-C2M2_specification/

fixes include but are not limited to

* remove Levels language
* change out old (Level 0) graphic

subpages linked off the issue-subject URL are also in need of updating.

[2021-05-10 15:43] abradyIGS opened #51 "quick wording updates"
* "crosscut" in "Crosscut Metadata Model" is one word: please fix https://www.nih-cfde.org/product/c2m2-glossary/#user-content-c2m2

* `s/biospecimen/biosample/` throughout

[2021-05-13 00:04] josesanchez1815 commented on #51
Done

[2021-05-13 00:04] #51 closed

[2021-05-18 19:48] ACharbonneau commented on #50
does anyone @nih-cfde/training have some time to fix up these pages?

[2021-05-18 22:48] josesanchez1815 commented on #50
Hi! I have some questions about this? When you say you would like to change the old (Level 0) graphic, is it to be replaced with another image or just taken out entirely?

I have another question for the "remove Levels Language" fix.
https://www.nih-cfde.org/product/c2m2-how-it-works/
https://www.nih-cfde.org/product/c2m2-model-levels-usage/
The previous two pages are comprised of "Levels Language

[2021-05-19 17:17] ACharbonneau commented on #50
So. The model didn't really change but we stopped calling it 'level 0' or 'level 1' or 'level 2'. It's just 'the C2M2 model' now. So, we need someone to go through and make it stop saying 'level whatever' and just call it the C2M2 model. The old picture (that says level in it) needs to be replaced with the new picture that doesn't say level

[2021-05-21 18:30] josesanchez1815 commented on #50
![image](https://user-images.githubusercontent.com/62918474/119180573-4f2f7a80-ba25-11eb-9b96-2736f7838a32.png)

Where can I find this image (I used a snipping tool for this image.) Where do I find this image? I tried looking in this repository, but I cannot seem to find it. I've looked at the following links and am unsure of how to replace this image.

https://github.com/nih-cfde/public-website-c

[2021-05-21 19:56] josesanchez1815 commented on #50
Would I be allowed to get rid of this [page](https://github.com/nih-cfde/public-website-content/blob/master/products/C2M2-how-it-works.md)? This page is primarily all levels language unless you would like the text be replaced with some information from the technical documentation

[2021-06-03 21:07] marisalim opened #53 "Update fair cookbook docs link"
Hi @kloydrti,

I made a PR to fix a broken link to the FAIR Cookbook docs - #52

[2021-06-07 18:29] #53 closed

[2021-06-11 23:23] josesanchez1815 commented on #50
@ACharbonneau I need help locating where in the repo I need to go to remove this image. https://www.nih-cfde.org/product/cfde-c2m2/

 I found the text on this page in this link https://github.com/nih-cfde/public-website-content/blob/master/products/product-C2M2.md but I am unaware where the Levels Image comes from.

[2021-06-17 22:27] marisalim commented on #50
@ACharbonneau there are 2 edits that need to happen for the nih-cfde.org site:

1. c2m2 image

The complete c2m2 image that does *not* have "level" in it is here: https://github.com/nih-cfde/c2m2/blob/master/draft-C2M2_ER_diagrams/C2M2.png

We could use a part of that image or the minimal submission c2m2 image here: https://github.com/nih-cfde/c2m2/blob/master/draft-C2M2_ER_diagrams/minimal_submis

[2021-06-30 19:57] ACharbonneau commented on #50
yup just disappear them

[2021-06-30 21:49] marisalim commented on #50
@ACharbonneau - those pages are now deleted. just need to update the c2m2 image. something like this? it's part of the full c2m2 diagram --

<img width="917" alt="c2m2_website_snapshot" src="https://user-images.githubusercontent.com/5659802/124036090-521d7380-d9b2-11eb-9f61-c9b11610bbdd.png">

[2021-06-30 23:15] ACharbonneau commented on #50
yep, I'm working on it.

[2021-06-30 23:16] ACharbonneau commented on #50
It looks like you made the content of the page delete but not the page itself, so I have to figure out how that works too :/

[2021-06-30 23:58] marisalim commented on #50
Huh, that's odd, the PR said the files for those pages were deleted 😞

[2021-07-01 03:05] ACharbonneau commented on #50
Yeah. It's definitely a thing i have to switch in wordpress, I just need to make sure I'm sure I know what I'm doing before I delete stuff/change things.

[2021-08-17 17:52] lance1572 commented on #43
This should be entered by the user. By making a default time zone, it would undoubtedly cause confusion for those in differing time zones. Apparently, it is defaulted to New York. Changing the default will override all event timezones published.

[2021-08-17 20:06] lance1572 commented on #50
Looks like the pages

https://www.nih-cfde.org/product/c2m2-how-it-works/
https://www.nih-cfde.org/product/c2m2-model-levels-usage/

Are still up but with no content. I will turn them off so they do not show. I'm guessing that needs to be done from this thread.

[2021-12-15 18:40] jacko13 commented on #28
Are there any updates on this issue? I don't see any Help Desk links in the header of the training site.
Are we still wanting to add a similar link to the CFDE public site?

[2021-12-15 20:02] ACharbonneau commented on #28
I don't think it happened on training, but if it can go in this website that would be great

[2021-12-15 20:18] jacko13 commented on #28
Thanks for clarifying Amanda. I will look into it.

[2021-12-16 15:49] jacko13 commented on #28
This has been added to the Development site.
I made it so that it's only shown when users log in, or in other words, it's only available for the Private Site - I hope that's okay? Please let me know whether anyone (public) should be able to ask questions and contact us. I was thinking this way, we could avoid spam/hack/phishing attempts and only focus on our real actual users questions. But let me

[2021-12-16 17:38] jacko13 commented on #28
This has been pushed live - 12/16/2021 at roughly 12.20pm.
Can someone close this ticket? It's done.

[2021-12-16 20:46] ACharbonneau commented on #28
I have updated your permissions so you can close things. In the future please just tell me if something is not working as it should

[2021-12-16 20:46] #28 closed

[2022-01-26 19:52] jacko13 commented on #50
Hello @ACharbonneau. Just wanted to help progress this. I'm happy to update the image on the the two pages that it appears on. As you mentioned a while back, the original images are no longer available. I did see a variety of C2M2 diagrams. I can also produce a new one based on snippets of other images. Could you please let me know how we can proceed with this one? Thank you.

[2022-02-10 18:43] ACharbonneau commented on #50
If you could make some new snippets that would be great. The source image to use is https://github.com/nih-cfde/c2m2/blob/master/ER_diagrams/C2M2.png

[2022-02-11 21:22] jacko13 commented on #50
![C2M2-snippet](https://user-images.githubusercontent.com/9009847/153671847-aa22afd8-e25f-4fcb-a5dc-f282edeb6050.png)
Definitely can make snippets of that image. I wasn't sure if I should just still include only the **file** and the **namespace** entities, or whether you wanted more than that. I wasn't sure if I should be going by the "minimal submission" and exactly what that might be. The **file

[2022-02-11 22:56] ACharbonneau commented on #50
I think whatever looks nice is fine. The image is mostly to make the page more interesting rather than to have them learn the model

[2022-02-14 18:20] #50 closed

[2022-03-15 17:11] ACharbonneau opened #58 "Update helpdesk email"
Hi @jacko13

When the help form on the website was originally set up, we didn't have an official helpdesk yet, so the email is going to autohelp@CFDE.groups.io which is just me. I need that form to instead send to support@cfde.atlassian.net

[2022-03-15 18:53] jacko13 commented on #58
![Issue-58-Contact-Form](https://user-images.githubusercontent.com/9009847/158450665-16217867-4d49-4a79-9836-7c075f79b898.png)
Just confirming - is this the form you're referring to - that you'd like the email changed for?

[2022-03-15 19:15] ACharbonneau commented on #58
yup

[2022-03-15 19:18] jacko13 commented on #58
Yes - thought so, just being careful. I will change this now.

[2022-03-15 20:02] jacko13 commented on #58
This is changed both on Development and in Production.
I was hesitant to send a test message, but can if you like. Let me know and then we can close this one out.

[2022-03-21 17:18] raynamharris opened #60 "need machine- and human-readable lists of programs"
our public website would benefit from having a list of Common Fund programs with associated information so that it can be indexed by google and also a source of info for current and future partners and users.

I created this yml file that has the acryonum, name, github repo, and portal link for all or most of the partners. See #59.

Also, I noticed that none of the files in the "partner" subdirect

[2022-03-24 18:32] jeremywalter commented on #58
So... now I'm seeing all the form stuff coming into helpdesk, but what I really want is just a straight link to support@cfde.atlassian.net -- this would give me the power to block and filter some of what is incoming... as long as it is going through the website form we're stuck having to process every ticket even if it's the same account sending the same dumb thing every day. I'm not sure if there

[2022-03-28 16:39] jeremywalter commented on #58
I don't have any strong opinions on how it is done, I just want it simple and I want everything to go direct to support so we can filter. If we get a lot of hits/requests for specific contacts we can arrange that, but those resources are already available for CFDE members. Right now I believe this is a less is more situation. We have very little traffic and if it picks up we can pivot IMO.

[2022-03-28 16:42] jacko13 commented on #58
@raynamharris and I swapped some notes about this. Thanks for sharing your feedback and sharing your ideas @jeremywalter .

A possible solution (chatted with @raynamharris ) could be:
Decommission the Contact Us FORM and put a general replacement link to email on it - with more general supporting text.
Keep the Contact Us option that goes to Jira for people who have logged in.

How does this sound

[2022-04-01 15:25] ctb commented on #58
Sounds good. Can this be done soon, please?

thanks!

[2022-04-11 21:35] jeremywalter commented on #58
Update?

[2022-04-19 19:06] jeremywalter opened #61 "Calendar permissions don't match roles"
Current roles :
Not a Group Event
All CFDE Members
Coordinators

Proposed:
Public
CFDE Members
Coordinators

Functionality:
Public Events - viewable to anyone
CFDE Members Events - viewable to onboarded CFDE only
Coordinators - admin level access

Currently the roles don't seem to be integrated in the calendar in any meaningful way. 'All CFDE Members' events can be viewed by the public without log

[2022-06-02 20:07] jeremywalter commented on #58
I have removed the form and replaced with text to e-mail helpdesk directly for more QC.

This is the code implementation for the form that I'm removing from Pages - Contact:
https://www.nih-cfde.org/wp-admin/post.php?post=1000000092&action=edit&classic-editor

[vc_row][vc_column][vc_raw_html]JTNDZGl2JTIwY2xhc3MlM0QlMjJpbnRybyUyMiUzRSU1Qm1kX2dpdGh1YiUyMHRva2VuJTNEMjZmZTg3ZTg4YjMxM2Q1MjQwMzYzYmNiMWM

[2022-06-02 20:07] #58 closed

[2022-06-14 20:34] raynamharris commented on #37
the ability to see past workshops exists, yea :)

[2022-06-14 20:34] #37 closed

[2022-07-20 19:44] raynamharris opened #65 "add partner page"
I have created a new document called [partners.md](https://github.com/nih-cfde/public-website-content/blob/master/partners/partners.md) (see #59) that needs to be added to the public website.

I think it would be great to add a page called "Partners" under the "About" tab on the home page.

![Screen Shot 2022-07-20 at 12 40 53 PM](https://user-images.githubusercontent.com/7544197/180068019-dff3186

[2022-07-21 20:06] jacko13 commented on #65
Hi @raynamharris . Yes. I can help with that. I'll take a look now. Will follow up when it's live.

[2022-07-21 20:30] jacko13 commented on #65
Hi @raynamharris. I've put this on the CFDE production site. Can you please review and let me know whether it's good.

https://www.nih-cfde.org/partners/

I placed access to this page under the About tab - positioned in alphabetical order.

Thank you.

[2022-07-21 20:33] #65 closed

[2022-07-21 20:33] raynamharris commented on #65
Done. Thank you @jacko13

![Screen Shot 2022-07-21 at 1 33 29 PM](https://user-images.githubusercontent.com/7544197/180310123-e1957a59-e1ba-442c-b10c-2104c4b58b5a.png)

[2022-07-21 20:34] raynamharris commented on #60
done :) see https://www.nih-cfde.org/partners

![Screen Shot 2022-07-21 at 1 33 29 PM](https://user-images.githubusercontent.com/7544197/180310195-d8e9e97d-aa93-47c3-8150-2a929c2d68df.png)

[2022-11-18 18:44] #47 closed

[2022-11-18 18:45] #43 closed